trunk/ABBI/WebContent/WEB-INF/xsd/fhir/assessmentscale.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <sch:ns prefix="f" uri="http://hl7.org/fhir"/>
  <sch:pattern>
    <sch:title>AssessmentScale</sch:title>
    <sch:rule context="/f:AssessmentScale/f:subject">
      <sch:assert test="not(contains(f:version, ':')) or exists(f:id)">If the version url is provided, and local, then a logical id must be provided too</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:performer">
      <sch:assert test="not(contains(f:version, ':')) or exists(f:id)">If the version url is provided, and local, then a logical id must be provided too</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:definition">
      <sch:assert test="not(contains(f:version, ':')) or exists(f:id)">If the version url is provided, and local, then a logical id must be provided too</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:interpretation">
      <sch:assert test="not(exists(f:primary)) or count(f:coding[@id=current()/f:primary])=1">If a primary reference is present, it must point to one of the codings</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score">
      <sch:assert test="(exists(f:*[starts-with(local-name(.), 'value')]) or exists(f:measure) != exists(f:score)) and not (exists(f:measure) and exists(f:score))">A score may have a value and/or one (and only one) of measure or sub-scores</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score/f:code">
      <sch:assert test="not(exists(f:primary)) or count(f:coding[@id=current()/f:primary])=1">If a primary reference is present, it must point to one of the codings</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score/f:valueQuantity">
      <sch:assert test="not(exists(f:code)) or exists(f:system)">If a code for the units is present, the system must also be present</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score/f:valueCodeableConcept">
      <sch:assert test="not(exists(f:primary)) or count(f:coding[@id=current()/f:primary])=1">If a primary reference is present, it must point to one of the codings</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score/f:measure/f:code">
      <sch:assert test="not(exists(f:primary)) or count(f:coding[@id=current()/f:primary])=1">If a primary reference is present, it must point to one of the codings</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score/f:measure/f:valueQuantity">
      <sch:assert test="not(exists(f:code)) or exists(f:system)">If a code for the units is present, the system must also be present</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score/f:measure/f:valueCodeableConcept">
      <sch:assert test="not(exists(f:primary)) or count(f:coding[@id=current()/f:primary])=1">If a primary reference is present, it must point to one of the codings</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:score/f:measure/f:source">
      <sch:assert test="not(contains(f:version, ':')) or exists(f:id)">If the version url is provided, and local, then a logical id must be provided too</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:extension">
      <sch:assert test="not(exists(f:extension/f:ref))">Nexted Extensions cannot have references</sch:assert>
      <sch:assert test="exists(f:*[starts-with(local-name(.), 'value')]) != exists(f:extension)">Either a value or nested extensions must be present, but not both</sch:assert>
    </sch:rule>
    <sch:rule context="/f:AssessmentScale/f:extension//f:extension">
      <sch:assert test="not(exists(f:extension/f:ref))">Nexted Extensions cannot have references</sch:assert>
      <sch:assert test="exists(f:*[starts-with(local-name(.), 'value')]) != exists(f:extension)">Either a value or nested extensions must be present, but not both</sch:assert>
    </sch:rule>
  </sch:pattern>
</sch:schema>
