trunk/ABBI/WebContent/WEB-INF/xsd/fhir/fhir-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © HL7 (http://hl7.org)q
  Generated on Wed, Nov 14, 2012 09:38+1100 for FHIR v0.06 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.06">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="xhtml1-strict.xsd"/>
  <!-- change this to xs:IDREF and all id attributes to type xs:ID to enforce internal references by schema,
       but note that this can't work in bundles (see comments in Resource Format section) -->
    <xs:simpleType name="xmlIdRef">
      <xs:restriction base="id-simple">
        <xs:pattern value="[a-z0-9\-\.]{1,36}"/>
      </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="sid-simple">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z]+:[^s]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sid">
    <xs:simpleContent>
      <xs:extension base="sid-simple">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="dateTime-simple">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}(\-((0[1-9])|(1[0-2]))(\-((0[1-9])|([1-2][0-9])|(3[0-1]))(T(([0-1][0-9])|(2[0-3])):[0-5][0-9]:[0-5][0-9]((\+|-)(0[0-9]|1[0-4]):(0|3|4)(0|5)|Z)?)?)?)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="dateTime">
    <xs:simpleContent>
      <xs:extension base="dateTime-simple">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="integer">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="code-simple">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^\s]+([\s]+[^\s]+)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="code">
    <xs:simpleContent>
      <xs:extension base="code-simple">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="date-simple">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}(\-((0[1-9])|(1[0-2]))(\-((0[1-9])|([1-2][0-9])|(3[0-1])))?)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="date">
    <xs:simpleContent>
      <xs:extension base="date-simple">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="decimal">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="uri">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="id-simple">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9\-\.]{1,36}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="id">
    <xs:simpleContent>
      <xs:extension base="id-simple">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="base64Binary">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="oid-simple">
    <xs:restriction base="xs:string">
      <xs:pattern value="([1-9][0-9]*)(\.[1-9][0-9]*)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="oid">
    <xs:simpleContent>
      <xs:extension base="oid-simple">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="string">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="boolean">
    <xs:simpleContent>
      <xs:extension base="xs:boolean">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="uuid-simple">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="uuid">
    <xs:simpleContent>
      <xs:extension base="uuid-simple">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="instant">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="id" type="id-simple"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Provenance">
        <xs:annotation>
          <xs:documentation>Provenance information associated with another resource that can be used to help determine it's reliability or trace where the information in it came from. The focus of the provenance resource is record keeping, audit, and traceability, not clinical meaning.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DocumentHeader">
        <xs:annotation>
          <xs:documentation>A documentation of healthcare-related information that is assembled together into a single statement of meaning that establishes its own context. A document is composed of a set of resources that include both human and computer readable portions. A human may attest to the accuracy of the human readable portion, and may authenticate and/or sign the entire whole. A document may be kept as a set of logically linked resources, or they may be bundled together in an atom feed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Device">
        <xs:annotation>
          <xs:documentation>This resource identifies a manufactured entity that is used in the provision of healthcare. The device may be a machine, an insert, a computer, an application, etc</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Location">
        <xs:annotation>
          <xs:documentation>Yet to be defined</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Animal">
        <xs:annotation>
          <xs:documentation>An animal that has relevance to the care process - usually this is for animals that are patients</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Prescription">
        <xs:annotation>
          <xs:documentation>Directions provided by a prescribing practitioner for a specific medication to be administered (and possibly) supplied to an individual</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Organization">
        <xs:annotation>
          <xs:documentation>For any company/corporation/institution/government department that has relevance to the care process</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssessmentDefinition">
        <xs:annotation>
          <xs:documentation>Yet to be defined</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValueSet">
        <xs:annotation>
          <xs:documentation>Value Set - a set of defined codes from one or more code systems that may be bound to a context</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MessageHeader">
        <xs:annotation>
          <xs:documentation>A transmission requesting action on a bundle of one or more resources or a response to such a request</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Test">
        <xs:annotation>
          <xs:documentation>[Template] Master Definition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Admission">
        <xs:annotation>
          <xs:documentation>Yet to be defined</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Specimen">
        <xs:annotation>
          <xs:documentation>Yet to be defined</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssessmentScale">
        <xs:annotation>
          <xs:documentation>Assessment scales or scores combine the findings of individual values into a total score which can be interpreted more easily against a reference population</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecurityEvent">
        <xs:annotation>
          <xs:documentation>A record of an event </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IssueReport">
        <xs:annotation>
          <xs:documentation>Error, warning or information messages that result from a system action</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LabReport">
        <xs:annotation>
          <xs:documentation>The findings and interpretation of pathology tests performed on tissues and body fluids. This is typically done in a laboratory but may be done in other environments such as at the point of care</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Conformance">
        <xs:annotation>
          <xs:documentation>A conformance statement about how an application or implementation supports FHIR or the set of requirements for a desired implementation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XdsEntry">
        <xs:annotation>
          <xs:documentation>An entry in an XDS registry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Agent">
        <xs:annotation>
          <xs:documentation>A person who represents an organisation, and is authorised to perform actions on its behalf</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Profile">
        <xs:annotation>
          <xs:documentation>A Resource Profile - a statement of use of FHIR. May include constraints on Resources, Data Types, Terminology Binding Statements and Extension Definitions</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Problem">
        <xs:annotation>
          <xs:documentation>Use to record detailed information about problems or diagnoses recognised by a clinician. There are many uses including: recording a Diagnosis during an Encounter; populating a Problem List or a Summary Statement, such as a Discharge Summary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InterestOfCare">
        <xs:annotation>
          <xs:documentation>Yet to be defined</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Patient">
        <xs:annotation>
          <xs:documentation>A patient is a person or animal that is receiving care</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Group">
        <xs:annotation>
          <xs:documentation>Yet to be defined</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Person">
        <xs:annotation>
          <xs:documentation>A person who is involved in the healthcare process</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XdsFolder">
        <xs:annotation>
          <xs:documentation>An organised collection of documents that belong to a patient. The documents are collected by their clinical function</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Extension">
    <xs:sequence>
      <xs:element name="url" type="xs:anyURI" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Source of the definition for the extension code - a logical name or a URL</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ref" type="xmlIdRef" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Internal reference to context of the extension - a pointer to an xml:id in the same resource</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mustUnderstand" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>If this element is set to true, then the containing resource element and its children are only safe to process if the reader understands this extension. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value of extension - may be a resource or one of a constraint set of the data types (see Extensibility in the spec for list)</xs:documentation>
        </xs:annotation>
       <xs:element name="valueBoolean" type="boolean"/>
       <xs:element name="valueInteger" type="integer"/>
       <xs:element name="valueDecimal" type="decimal"/>
       <xs:element name="valueBase64Binary" type="base64Binary"/>
       <xs:element name="valueInstant" type="instant"/>
       <xs:element name="valueString" type="string"/>
       <xs:element name="valueUri" type="uri"/>
       <xs:element name="valueCode" type="code"/>
       <xs:element name="valueOid" type="oid"/>
       <xs:element name="valueUuid" type="uuid"/>
       <xs:element name="valueSid" type="sid"/>
       <xs:element name="valueId" type="id"/>
       <xs:element name="valueDate" type="date"/>
       <xs:element name="valueDateTime" type="dateTime"/>
       <xs:element name="valueAttachment" type="Attachment"/>
       <xs:element name="valueIdentifier" type="Identifier"/>
       <xs:element name="valueCodeableConcept" type="CodeableConcept"/>
       <xs:element name="valueCoding" type="Coding"/>
       <xs:element name="valueChoice" type="Choice"/>
       <xs:element name="valueQuantity" type="Quantity"/>
       <xs:element name="valueRange" type="Range"/>
       <xs:element name="valuePeriod" type="Period"/>
       <xs:element name="valueRatio" type="Ratio"/>
       <xs:element name="valueResourceReference" type="ResourceReference"/>
       <xs:element name="valueHumanId" type="HumanId"/>
       <xs:element name="valueHumanName" type="HumanName"/>
       <xs:element name="valueAddress" type="Address"/>
       <xs:element name="valueContact" type="Contact"/>
       <xs:element name="valueSchedule" type="Schedule"/>
       <xs:element name="valueResource" type="ResourceReference"/>
      </xs:choice>
      <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Nested Extensions - further extensions that are part of the extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Narrative">
    <xs:sequence>
      <xs:element name="status" type="NarrativeStatus" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The status of the narrative - whether it's entirely generated (from just the defined data or the extensions too), or whether a human authored it and it may contain additional data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="xhtml:div" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The actual narrative content, a stripped down version of XHTML</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="image" type="Narrative.Image" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>An image referred to directly in the xhtml</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Narrative.Image">
    <xs:sequence>
      <xs:element name="mimeType" type="code-simple" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Mime type of image</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="content" type="xs:base64Binary" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>base64 image data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:simpleType name="NarrativeStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="generated">
        <xs:annotation>
          <xs:documentation>The contents of the narrative are entirely generated from the structured data in the resource.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="extensions">
        <xs:annotation>
          <xs:documentation>The contents of the narrative are entirely generated from the structured data in the resource and some of the content is generated from extensions</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="additional">
        <xs:annotation>
          <xs:documentation>The contents of the narrative contain additional information not found in the structured data</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="empty">
        <xs:annotation>
          <xs:documentation>the contents of the narrative are some equivalent of &quot;No human readable text provided for this resource&quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Period">
    <xs:sequence>
      <xs:element name="start" type="dateTime-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The start of the period. The boundary is inclusive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="end" type="dateTime-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The end of the period. If the high is missing, it means that the period is ongoing</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Coding">
    <xs:sequence>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of the system that defines the meaning of the symbol in the code. Can be a simple list of enumerations, a list of codes with meanings or all the way to a complex semantic web such as SNOMED-CT, whether classification, terminology, or ontology</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A symbol in syntax defined by the system. The symbol may be a predefined code or an expression in a syntax defined by the coding system</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="display" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A representation of the meaning of the code in the system, following the rules laid out by the system. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Range">
    <xs:sequence>
      <xs:element name="low" type="Quantity" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The low limit. The boundary is inclusive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="high" type="Quantity" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The high limit. The boundary is inclusive. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Quantity">
    <xs:sequence>
      <xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the measured amount. The value includes an implicit precision in the presentation of the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="range" type="QuantityRange" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>How the value should be understood and represented - whether the actual value is greater or less than the measure due to measurement issues</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="units" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A human readable form of the units</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of the system that provides the coded form of the unit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A computer processable form of the units in some unit representation system</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:simpleType name="QuantityRange">
    <xs:restriction base="xs:string">
      <xs:enumeration value="&lt;">
        <xs:annotation>
          <xs:documentation>The actual value is less than the given value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="&lt;=">
        <xs:annotation>
          <xs:documentation>The actual value is less than or equal to the given value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="&gt;=">
        <xs:annotation>
          <xs:documentation>The actual value is greater than or equal to the given value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="&gt;">
        <xs:annotation>
          <xs:documentation>The actual value is greater than the given value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Choice">
    <xs:sequence>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The code or value that the user selected from the list of possible codes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="option" type="Choice.Option" minOccurs="2" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A list of possible values for the code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isOrdered" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Whether the order of the values has an assigned meaning</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Choice.Option">
    <xs:sequence>
      <xs:element name="code" type="code-simple" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A possible code or value that the user could have chosen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="display" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A set of words associated with the code to give it meaning and displayed to the user</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Attachment">
    <xs:sequence>
      <xs:element name="contentType" type="code-simple" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the type of the data in the attachment and allows a method to be chosen to interpret or render the data. Includes mime type parameters such as charset where appropriate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="data" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The actual data of the attachment - a sequence of bytes. In XML, represented using base64</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An alternative location where the data can be accessed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="size" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The number of bytes of data that make up this attachment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hash" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The calculated hash of the data using SHA-256. In XML, represented using base64</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A label or set of text to display in place of the data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Ratio">
    <xs:sequence>
      <xs:element name="numerator" type="Quantity" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The numerator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="denominator" type="Quantity" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The denominator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="ResourceReference">
    <xs:sequence>
      <xs:element name="type" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of one of the resource types defined in this specification to identify the type of the resource being referenced</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A literal URL that resolves to the location of the resource. The URL may be relative or absolute. Relative Ids contain the logical id of the resource. This reference is version independent - it points to the latest version of this resource</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A literal URL that resolves to the location of a particular version of the resource. The URL may be relative or absolute. Relative Ids contain the logical version id of the resource. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="display" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Plain text narrative that identifies the resource in addition to the resource reference </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="CodeableConcept">
    <xs:sequence>
      <xs:element name="coding" type="Coding" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A reference to a code defined by a terminology system </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A human language representation of the concept as seen/selected/uttered by the user who entered the data and/or which represents the intended meaning of the user or concept</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="primary" type="xmlIdRef" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates which of the codes in the codings was chosen by a user, if one was chosen directly</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Identifier">
    <xs:sequence>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Establishes the namespace in which set of possible id values is unique.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The portion of the identifier typically displayed to the user and which is unique within the context of the system.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Age">
    <xs:complexContent>
      <xs:restriction base="Quantity">
        <xs:sequence>
      <xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the measured amount. The value includes an implicit precision in the presentation of the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="range" type="QuantityRange" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>How the value should be understood and represented - whether the actual value is greater or less than the measure due to measurement issues</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="units" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A human readable form of the units</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of the system that provides the coded form of the unit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A computer processable form of the units in some unit representation system</xs:documentation>
        </xs:annotation>
      </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="id-simple"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Count">
    <xs:complexContent>
      <xs:restriction base="Quantity">
        <xs:sequence>
      <xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the measured amount. The value includes an implicit precision in the presentation of the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="range" type="QuantityRange" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>How the value should be understood and represented - whether the actual value is greater or less than the measure due to measurement issues</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="units" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A human readable form of the units</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of the system that provides the coded form of the unit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A computer processable form of the units in some unit representation system</xs:documentation>
        </xs:annotation>
      </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="id-simple"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Money">
    <xs:complexContent>
      <xs:restriction base="Quantity">
        <xs:sequence>
      <xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the measured amount. The value includes an implicit precision in the presentation of the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="range" type="QuantityRange" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>How the value should be understood and represented - whether the actual value is greater or less than the measure due to measurement issues</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="units" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A human readable form of the units</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of the system that provides the coded form of the unit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A computer processable form of the units in some unit representation system</xs:documentation>
        </xs:annotation>
      </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="id-simple"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Distance">
    <xs:complexContent>
      <xs:restriction base="Quantity">
        <xs:sequence>
      <xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the measured amount. The value includes an implicit precision in the presentation of the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="range" type="QuantityRange" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>How the value should be understood and represented - whether the actual value is greater or less than the measure due to measurement issues</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="units" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A human readable form of the units</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of the system that provides the coded form of the unit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A computer processable form of the units in some unit representation system</xs:documentation>
        </xs:annotation>
      </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="id-simple"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Duration">
    <xs:complexContent>
      <xs:restriction base="Quantity">
        <xs:sequence>
      <xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the measured amount. The value includes an implicit precision in the presentation of the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="range" type="QuantityRange" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>How the value should be understood and represented - whether the actual value is greater or less than the measure due to measurement issues</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="units" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A human readable form of the units</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of the system that provides the coded form of the unit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="code-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A computer processable form of the units in some unit representation system</xs:documentation>
        </xs:annotation>
      </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="id-simple"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element name="event" type="Period" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifies specific time periods when the event should occur</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="repeat" type="Schedule.Repeat" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies a repeating pattern to the intended time periods. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:complexType name="Schedule.Repeat">
    <xs:sequence>
      <xs:element name="frequency" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates how often the event should occur.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="when" type="EventTiming" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the occurrence of daily life that determine timing</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duration" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>How long each repetition should last</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="units" type="UnitsOfTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the units of time for the duration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="count" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A total count of the desired number of repetitions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="end" type="dateTime-simple" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>When to stop repeats</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:simpleType name="EventTiming">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HS">
        <xs:annotation>
          <xs:documentation>event occurs [duration] before the hour of sleep (or trying to)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WAKE">
        <xs:annotation>
          <xs:documentation>event occurs [duration] after waking</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AC">
        <xs:annotation>
          <xs:documentation>event occurs [duration] before a meal (from the Latin ante cibus)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACM">
        <xs:annotation>
          <xs:documentation>event occurs [duration] before breakfast (from the Latin ante cibus matutinus)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACD">
        <xs:annotation>
          <xs:documentation>event occurs [duration] before lunch (from the Latin ante cibus diurnus)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACV">
        <xs:annotation>
          <xs:documentation>event occurs [duration] before dinner (from the Latin ante cibus vespertinus)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PC">
        <xs:annotation>
          <xs:documentation>event occurs [duration] after a meal (from the Latin post cibus)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PCM">
        <xs:annotation>
          <xs:documentation>event occurs [duration] after breakfast (from the Latin post cibus matutinus)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PCD">
        <xs:annotation>
          <xs:documentation>event occurs [duration] after lunch (from the Latin post cibus diurnus)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PCV">
        <xs:annotation>
          <xs:documentation>event occurs [duration] after dinner (from the Latin post cibus vespertinus) </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UnitsOfTime">
    <xs:restriction base="xs:string">
      <xs:enumeration value="s">
        <xs:annotation>
          <xs:documentation>second</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="min">
        <xs:annotation>
          <xs:documentation>minute</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="h">
        <xs:annotation>
          <xs:documentation>hour</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="d">
        <xs:annotation>
          <xs:documentation>day</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wk">
        <xs:annotation>
          <xs:documentation>week</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mo">
        <xs:annotation>
          <xs:documentation>month</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="a">
        <xs:annotation>
          <xs:documentation>year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element name="system" type="ContactSystem" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>What kind of contact this is - what communications system is required to make use of the contact</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The actual contact details, in a form that is meaningful to the designated communication system (i.e. phone number or email address).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="use" type="ContactUse" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the context for the address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="period" type="Period" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time period when the contact was/is in use</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:simpleType name="ContactSystem">
    <xs:restriction base="xs:string">
      <xs:enumeration value="phone">
        <xs:annotation>
          <xs:documentation>The value is a telephone number used for voice calls. Use of full international numbers starting with + is recommended to enable automatic dialing support but not required.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fax">
        <xs:annotation>
          <xs:documentation>The value is a fax machine. Use of full international numbers starting with + is recommended to enable automatic dialing support but not required.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="email">
        <xs:annotation>
          <xs:documentation>The value is an email address</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="url">
        <xs:annotation>
          <xs:documentation>The value is a url. This is intended for various personal contacts including blogs, Twitter, Facebook, etc. Do not use for email addresses</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContactUse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="home">
        <xs:annotation>
          <xs:documentation>A communication contact at a home; attempted contacts for business purposes might intrude privacy and chances are one will contact family or other household members instead of the person one wishes to call. Typically used with urgent cases, or if no other contacts are available.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="work">
        <xs:annotation>
          <xs:documentation>An office contact. First choice for business related contacts during business hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temp">
        <xs:annotation>
          <xs:documentation>A temporary contact. The period can provide more detailed information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="old">
        <xs:annotation>
          <xs:documentation>This contact is no longer in use (or was never correct, but retained for records)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mobile">
        <xs:annotation>
          <xs:documentation>A telecommunication device that moves and stays with its owner. May have characteristics of all other use codes, suitable for urgent matters, not the first choice for routine business</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="use" type="AddressUse" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the intended purpose of this address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>a full text representation of the address</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="part" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Part of an address line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="line" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A line of an address (typically used for street names &amp; numbers, unit details, delivery hints, etc.) .</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the city, town, village, or other community or delivery centre.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sub-unit of a country with limited sovereignty in a federally organized country. A code may be used if codes are in common use (i.e. US 2 letter state codes).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A postal code designating a region defined by the postal service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Country. ISO 3166 3 letter codes can be used in place of a full country name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dpid" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A value that uniquely identifies the postal address. (Often used in barcodes). </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="period" type="Period" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time period when address was/is in use</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:simpleType name="AddressUse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="home">
        <xs:annotation>
          <xs:documentation>A communication address at a home</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="work">
        <xs:annotation>
          <xs:documentation>An office address. First choice for business related contacts during business hours</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temp">
        <xs:annotation>
          <xs:documentation>A temporary address. The period can provide more detailed information</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="old">
        <xs:annotation>
          <xs:documentation>This address is no longer in use (or was never correct, but retained for records)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HumanName">
    <xs:sequence>
      <xs:element name="use" type="NameUse" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the purpose for this name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>a full text representation of the name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="family" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Family name, this is the name that links to the genealogy. In some cultures (e.g. Eritrea) the family name of a son is the first name of his father.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="given" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Given name. NOTE: Not to be called &quot;first name&quot; since given names do not always come first.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prefix" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Part of the name that is acquired as a title due to academic, legal, employment or nobility status, etc. and that comes at the start of the name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="suffix" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Part of the name that is acquired as a title due to academic, legal, employment or nobility status, etc. and that comes at the end of the name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="period" type="Period" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the period of time when this name was valid for the named person.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:simpleType name="NameUse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="usual">
        <xs:annotation>
          <xs:documentation>Known as/conventional/the one you normally use</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="official">
        <xs:annotation>
          <xs:documentation>The formal name as registered in an official (government) registry, but which name might not be commonly used. May be called &quot;legal name&quot;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temp">
        <xs:annotation>
          <xs:documentation>A temporary name. A name valid time can provide more detailed information. This may also be used for temporary names assigned at birth or in emergency situations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nickname">
        <xs:annotation>
          <xs:documentation>A name that is used to address the person in an informal manner, but is not part of their formal or usual name</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="anonymous">
        <xs:annotation>
          <xs:documentation>Anonymous assigned name, alias, or pseudonym (used to protect a person's identity for privacy reasons)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="old">
        <xs:annotation>
          <xs:documentation>This name is no longer in use (or was never correct, but retained for records)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="maiden">
        <xs:annotation>
          <xs:documentation>A name used prior to marriage. Marriage naming customs vary greatly around the world. This name use is for use by applications that collect and store &quot;maiden&quot; names. Though the concept of maiden name is often gender specific, the use of this term is not gender specific. The use of this term does not imply any particular history for a person's name, nor should the maiden name be determined algorithmically.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HumanId">
    <xs:sequence>
      <xs:element name="use" type="IdentifierUse" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the use for this identifier, if known
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A label for the identifier that can be displayed to a human so they can recognise the identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identifier itself</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="period" type="Period" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time period during which identifier was valid for use</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="assigner" type="ResourceReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Organisation that issued/manages the identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="id-simple"/>
  </xs:complexType>
  <xs:simpleType name="IdentifierUse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="usual">
        <xs:annotation>
          <xs:documentation>the identifier recommended for display and use in real-world interactions</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="official">
        <xs:annotation>
          <xs:documentation>the identifier considered to be most trusted for the identification of this item</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temp">
        <xs:annotation>
          <xs:documentation>A temporary identifier</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
