trunk/ABBI/WebContent/WEB-INF/xsd/fhir/messageheader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © HL7 (http://hl7.org)
  Generated on Wed, Nov 14, 2012 09:38+1100 for FHIR v0.06 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.06">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="MessageHeader" type="MessageHeader">
    <xs:annotation>
      <xs:documentation>todo</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MessageHeader">
    <xs:sequence>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="id">
        <xs:annotation>
          <xs:documentation>The identifier of this message</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="instant" minOccurs="1" maxOccurs="1" type="instant">
        <xs:annotation>
          <xs:documentation>Instant the message was sent</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="event" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>Code that identifies the event this message represents, and connects it with the event definition in the FHIR specification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="response" type="MessageHeader.Response" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Information about the message that this message is a response to.  Only present if this message is a response.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="MessageHeader.Source" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The source application from which this message originated</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destination" type="MessageHeader.Destination" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The destination application which the message is intended for</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enterer" minOccurs="0" maxOccurs="1" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>The person or device that performed the data entry leading to this MessageHeader. Where there is more than one candidate, pick the most proximal to the MessageHeader. Can provide other enterers in extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="author" minOccurs="0" maxOccurs="1" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>The logical author of the message - the person or device that decided the described event should happen. Where there is more than one candidate, pick the most proximal to the MessageHeader. Can provide other authors in extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="receiver" minOccurs="0" maxOccurs="1" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>Allows data conveyed by a message to be addressed to a particular person or department when routing to a specific application isn't sufficient.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="responsible" minOccurs="0" maxOccurs="1" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>The person or organization that accepts overall responsibility for the contents of the MessageHeader. The implication is that the message event happened under the policies of the responsible party</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="effective" minOccurs="0" maxOccurs="1" type="Period">
        <xs:annotation>
          <xs:documentation>The effective time - the real world time of the event that the message represents. Usually this is just a starting time, but some message events also have an end time (do x for period y)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reason" minOccurs="0" maxOccurs="1" type="CodeableConcept">
        <xs:annotation>
          <xs:documentation>The cause of the event - a reason for the event that is a focus of this message occurred</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="data" minOccurs="0" maxOccurs="unbounded" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>The actual data of the message - a reference to the root/focus class of the event. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>See Extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="Narrative" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation> </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader.Source">
    <xs:sequence>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Human readable name for the target system</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="software" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>May include configuration or other information useful in debugging.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Can convey versions of multiple systems in situations where a message passes through multiple hands.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contact" minOccurs="0" maxOccurs="1" type="Contact">
        <xs:annotation>
          <xs:documentation>An e-mail, phone, website or other contact point to use to resolve issues with message communications.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endpoint" minOccurs="1" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Identifies the routing target to send acknowledgements to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader.Response">
    <xs:sequence>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="id">
        <xs:annotation>
          <xs:documentation>The id of the message that this a response to</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" minOccurs="1" maxOccurs="1" type="ResponseCode">
        <xs:annotation>
          <xs:documentation>Code that identifies the type of response to the message - whether it was successful or not, and whether it should be resent or not</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="details" minOccurs="0" maxOccurs="1" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>Full details of any issues found in the message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader.Destination">
    <xs:sequence>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Human readable name for the source system</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="target" minOccurs="0" maxOccurs="1" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>Identifies the target end system in situations where the initial message transmission is to an intermediary system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endpoint" minOccurs="1" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Indicates where the message should be routed to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseCode">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="ok">
          <xs:annotation>
            <xs:documentation>The message was accepted and processed without error</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="error">
          <xs:annotation>
            <xs:documentation>Some internal unexpected error occurred - wait and try again. Note - this is usually used for things like database unavailable, which may be expected to resolve, though human intervention may be required</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="rejection">
          <xs:annotation>
            <xs:documentation>The message was rejected because of some content in it. There is no point in re-sending without change. The response narrative must describe what the issue is.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="rules">
          <xs:annotation>
            <xs:documentation>The message was rejected because of some event-specific business rules, and it may be possible to modify the request and re-submit (as a different request). The response must include an Issue report that describes what problem is</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="undeliverable">
          <xs:annotation>
            <xs:documentation>A middleware agent was unable to deliver the message to its intended destination</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
