trunk/ABBI/WebContent/WEB-INF/xsd/fhir/profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © HL7 (http://hl7.org)
  Generated on Wed, Nov 14, 2012 09:38+1100 for FHIR v0.06 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.06">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="Profile" type="Profile">
    <xs:annotation>
      <xs:documentation>todo</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>A free text natural language name identifying the Profile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The official version of this profile - for external version specific references</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="author" type="Profile.Author" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Details of the author who accepts responsibility for publishing the profile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>A free text natural language description of the profile and its use</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" minOccurs="0" maxOccurs="unbounded" type="Coding">
        <xs:annotation>
          <xs:documentation>A set of terms from external terminologies that may be used to assist with indexing and searching of templates.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="Profile.Status" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates where the profile exists in its overall life-cycle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="import" type="Profile.Import" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Other profiles that define extensions and bindings that are used in this profile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bundle" minOccurs="0" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>If this profile describes a bundle, the first resource in the bundle (usually a MessageHeader or a DocumentHeader)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resource" type="Profile.Resource" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A constraint statement about what contents a resource or data type may have</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extensionDefn" type="Profile.ExtensionDefn" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>An extension defined as part of the profile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="binding" type="Profile.Binding" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Defines a linkage between a vocabulary binding name used in the profile (or expected to be used in profile importing this one) and a value set or code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>See Extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="Narrative" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Text summary of resource (for human interpretation)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Binding">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The name to be associated with this set of codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definition" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Describes the intended use of this particular set of codes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="1" maxOccurs="1" type="BindingType">
        <xs:annotation>
          <xs:documentation>Identifies how the set of codes for this binding is being defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isExtensible" minOccurs="1" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>If true, then conformant systems may use additional codes or (where the data type permits) text alone to convey concepts not covered by the set of codes identified in the binding.  If false, then conformant systems are constrained to the provided codes alone.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="conformance" minOccurs="1" maxOccurs="1" type="BindingConformance">
        <xs:annotation>
          <xs:documentation>Indicates the degree of conformance expectations associated with this binding</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reference" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Points to the value set or external definition that identifies the set of codes to be used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="concept" type="Profile.Concept" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifies the codes forming the code list for the binding</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Status">
    <xs:sequence>
      <xs:element name="code" minOccurs="1" maxOccurs="1" type="ResourceProfileStatus">
        <xs:annotation>
          <xs:documentation>A coded value for the position of the profile within its life-cycle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="date" minOccurs="1" maxOccurs="1" type="dateTime">
        <xs:annotation>
          <xs:documentation>The date that the current value for status was applied to the profile</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="comment" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Additional commentary related to the profile's status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Resource">
    <xs:sequence>
      <xs:element name="type" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>The Resource or Data type being described</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="profile" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Reference to a resource profile that includes the constraint statement that applies to this resource</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The name of this resource constraint statement (to refer to it from other resource constraints)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="purpose" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Human summary: why describe this resource?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="element" type="Profile.Element" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Captures constraints on each element within the resource</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="searchParam" type="Profile.SearchParam" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>defines additional search parameters for implementations to support and/or make use of</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Element">
    <xs:sequence>
      <xs:element name="path" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The path identifies the element</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>A unique name referring to a specific set of constraints applied to this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definition" type="Profile.Definition" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Definition of the content of the element to provide a more specific definition than that contained for the element in the base resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bundled" minOccurs="0" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>Whether the Resource that is the value for this element is included in the bundle, if the profile is specifying a bundle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="closed" minOccurs="0" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether the set of slices defined is &quot;exhaustive&quot;.  I.e. Have all the possible variants for the repeating element been defined?  If true, then no new slices can be created off the base element in derived profiles - though existing slices can be further sliced if they are defined as repeating elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Import">
    <xs:sequence>
      <xs:element name="uri" minOccurs="1" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>The identifier for the profile, ideally the URL it can be retrieved from.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prefix" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The short label used for display of the profile when uniquely identifying imported extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.ExtensionDefn">
    <xs:sequence>
      <xs:element name="code" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>A unique code (within the profile) used to identify the extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contextType" minOccurs="1" maxOccurs="1" type="ExtensionContext">
        <xs:annotation>
          <xs:documentation>Identifies the type of context to which the extension applies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="context" minOccurs="1" maxOccurs="unbounded" type="string">
        <xs:annotation>
          <xs:documentation>Identifies the types of resource or data type elements to which the extension can be applied.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definition" type="Profile.Definition" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Definition of the extension and its content</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.SearchParam">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Corresponds to the name of the standard or custom search parameter</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="1" maxOccurs="1" type="SearchParamType">
        <xs:annotation>
          <xs:documentation>The type of value a search parameter refers to, and how the content is interpreted</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="repeats" minOccurs="1" maxOccurs="1" type="SearchRepeatBehavior">
        <xs:annotation>
          <xs:documentation>Whether multiple uses of the parameter are allowed in searches, and if they are, how the multiple values are understood.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentation" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>For standard parameters, provides additional information on how the parameter is used in this solution.  For custom parameters, provides a description of what the parameter does</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Concept">
    <xs:sequence>
      <xs:element name="code" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>Identifies the code referenced or being defined as part of the binding</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Identifies the system in which the referenced code is defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="display" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Identifies the text to be displayed to the user for this code.  If none provided, then the code itself is displayed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="definition" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>A free-text description of the meaning of this code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Author">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The name of the author</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reference" minOccurs="0" maxOccurs="unbounded" type="uri">
        <xs:annotation>
          <xs:documentation>Reference to the author to assist a user in finding and communicating with the author</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Definition">
    <xs:sequence>
      <xs:element name="short" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>A concise definition that  is shown in the concise XML format that summarises profiles</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="formal" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation> The definition must be consistent with the base definition, but convey the meaning of the element in the particular context of use of the resource</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="comments" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Comments about the use of the element, including notes about how to use the data properly, exceptions to proper use, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requirements" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Explains why this element is needed and why it's been constrained as it has</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="synonym" minOccurs="0" maxOccurs="unbounded" type="string">
        <xs:annotation>
          <xs:documentation>Identifies additional names by which this element might also be known</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="min" minOccurs="1" maxOccurs="1" type="integer">
        <xs:annotation>
          <xs:documentation>The minimum number of times this element must appear in the instance</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="max" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The maximum number of times this element is permitted to appear in the instance</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="Profile.Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The data type or resource that the value of this element is permitted to be</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nameReference" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Identifies the name of a slice defined elsewhere in the profile whose constraints should be applied to the current element </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Specifies a value that must hold for this element in the instance.</xs:documentation>
        </xs:annotation>
       <xs:element name="valueBoolean" type="boolean"/>
       <xs:element name="valueInteger" type="integer"/>
       <xs:element name="valueDecimal" type="decimal"/>
       <xs:element name="valueBase64Binary" type="base64Binary"/>
       <xs:element name="valueInstant" type="instant"/>
       <xs:element name="valueString" type="string"/>
       <xs:element name="valueUri" type="uri"/>
       <xs:element name="valueCode" type="code"/>
       <xs:element name="valueOid" type="oid"/>
       <xs:element name="valueUuid" type="uuid"/>
       <xs:element name="valueSid" type="sid"/>
       <xs:element name="valueId" type="id"/>
       <xs:element name="valueDate" type="date"/>
       <xs:element name="valueDateTime" type="dateTime"/>
       <xs:element name="valueAttachment" type="Attachment"/>
       <xs:element name="valueIdentifier" type="Identifier"/>
       <xs:element name="valueCodeableConcept" type="CodeableConcept"/>
       <xs:element name="valueCoding" type="Coding"/>
       <xs:element name="valueChoice" type="Choice"/>
       <xs:element name="valueQuantity" type="Quantity"/>
       <xs:element name="valueRange" type="Range"/>
       <xs:element name="valuePeriod" type="Period"/>
       <xs:element name="valueRatio" type="Ratio"/>
       <xs:element name="valueResourceReference" type="ResourceReference"/>
       <xs:element name="valueHumanId" type="HumanId"/>
       <xs:element name="valueHumanName" type="HumanName"/>
       <xs:element name="valueAddress" type="Address"/>
       <xs:element name="valueContact" type="Contact"/>
       <xs:element name="valueSchedule" type="Schedule"/>
       <xs:element name="valueResource" type="ResourceReference"/>
      </xs:choice>
      <xs:element name="maxLength" minOccurs="0" maxOccurs="1" type="integer">
        <xs:annotation>
          <xs:documentation>Indicates the shortest length that must be supported by conformant instances without truncation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="condition" minOccurs="0" maxOccurs="unbounded" type="id">
        <xs:annotation>
          <xs:documentation>A reference to an invariant that may make additional statements about the cardinality in the instance</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="constraint" type="Profile.Constraint" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Formal constraints such as co-occurrence and other constraints that can be computationally evaluated within the context of the instance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mustSupport" minOccurs="0" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>If true, conformant resource authors must be capable of providing a value for the element and resource consumers must be capable of extracting and doing something useful with the data element.  If false, the element may be ignored and not supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mustUnderstand" minOccurs="0" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>If true, the element cannot be ignored by systems unless they recognize the element and a pre-determination has been made that it is not relevant to their particular system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="binding" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Identifies the set of codes that applies to this element if a data type supporting codes is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mapping" type="Profile.Mapping" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifies a concept from an external specification that roughly corresponds to this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Mapping">
    <xs:sequence>
      <xs:element name="target" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>The name of the specification is mapping is being expressed to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="map" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Expresses what part of the target specification corresponds to this element</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Constraint">
    <xs:sequence>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="id">
        <xs:annotation>
          <xs:documentation>Allows identification of which elements have their cardinalities impacted by the constraint.  Will not be referenced for constraints that do not affect cardinality.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Used to label the constraint in OCL or in short displays incapable of displaying the full human description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="severity" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>Identifies the impact constraint violation has on the conformance of the instance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="human" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>This is the text that describes the constraint in messages identifying that the constraint has been violated </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xpath" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>XPath expression of constraint</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ocl" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>OCL expression of constraint</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile.Type">
    <xs:sequence>
      <xs:element name="code" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>Data type or Resource</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="profile" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Identifies a profile that must hold for resources referenced as the type of this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BindingConformance">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="required">
          <xs:annotation>
            <xs:documentation>Only codes in the specified set are allowed.  If the binding is extensible, other codes may be used for concepts not covered by the bound set of codes.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="preferred">
          <xs:annotation>
            <xs:documentation>For greater interoperability, implementers are strongly encouraged to use the bound set of codes, however alternate codes may be used in profiles if necessary without being considered non-conformant.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="example">
          <xs:annotation>
            <xs:documentation>The codes in the set are an example to illustrate the meaning of the field. There is no particular preference for its use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BindingType">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="valueset">
          <xs:annotation>
            <xs:documentation>The binding name has an associated URL which is a reference to a Value Set Resource that provides a formal definition of the set of possible codes</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="codelist">
          <xs:annotation>
            <xs:documentation>The binding name is associated with a simple list of codes, and definitions from some identified code system (SID, URI, OID, UUID). In resource definitions, the system reference may be omitted, and a list of custom codes with definitions supplied (this is for status and workflow fields that applications need to know)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="reference">
          <xs:annotation>
            <xs:documentation>The binding name has an associated URL which refers to some external standard or specification that defines the possible codes</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="special">
          <xs:annotation>
            <xs:documentation>The binding points to a list of concepts defined as part of FHIR itself (see below for possible values)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResourceProfileStatus">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="draft">
          <xs:annotation>
            <xs:documentation>This profile is still under development</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="testing">
          <xs:annotation>
            <xs:documentation>this profile was authored for testing purposes (or education/evaluation/marketing)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="review">
          <xs:annotation>
            <xs:documentation>This profile is undergoing review to check that it is ready for production use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="production">
          <xs:annotation>
            <xs:documentation>This profile is ready for use in production systems</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="withdrawn">
          <xs:annotation>
            <xs:documentation>This profile has been withdrawn</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="superseded">
          <xs:annotation>
            <xs:documentation>This profile was superseded by a more recent version</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SearchRepeatBehavior">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="single">
          <xs:annotation>
            <xs:documentation>the search parameter may only be used once</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="union">
          <xs:annotation>
            <xs:documentation>when the search parameter is used more than once, match resources with any of the values</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="intersection">
          <xs:annotation>
            <xs:documentation>when the search parameter is used more than once, match resources with all of the values</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SearchParamType">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="integer">
          <xs:annotation>
            <xs:documentation>search parameter must be a simple whole number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="string">
          <xs:annotation>
            <xs:documentation>search parameter is a simple string, like a name part (search usually functions on partial matches)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="text">
          <xs:annotation>
            <xs:documentation>search parameter is into a long string (i.e. a text filter type search)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="date">
          <xs:annotation>
            <xs:documentation>search parameter is onto a date (and should support -before and -after variants). The date format is the standard XML format, thoughother formats may be supported</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="token">
          <xs:annotation>
            <xs:documentation>search parameter is on a fixed value string (i.e. search has an exact match)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="qtoken">
          <xs:annotation>
            <xs:documentation>search parameter is a pair of fixed value strings, namespace and value, separated by a &quot;#&quot;. The namespace is usually a uri, such as one of the defined code systems and is optional when searching</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ExtensionContext">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="resource">
          <xs:annotation>
            <xs:documentation>The context is all elements matching a particular resource element path</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="datatype">
          <xs:annotation>
            <xs:documentation>The context is all nodes matching a particular data type element path (root or repeating element) or all elements referencing a particular primitive data type (expressed as the datatype name)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="mapping">
          <xs:annotation>
            <xs:documentation>The context is all nodes whose mapping to a specified reference model corresponds to a particular mapping structure.  The context identifies the mapping target. The mapping should clearly identify where such an extension could be used, though this </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="extension">
          <xs:annotation>
            <xs:documentation>The context is a particular extension from a particular profile.  Expressed as uri#name, where uri identifies the profile and #name identifies the extension code</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
