ABBI/WebContent/WEB-INF/xsd/fhir/conformance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © HL7 (http://hl7.org)
  Generated on Wed, Nov 14, 2012 09:38+1100 for FHIR v0.06 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.06">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="Conformance" type="Conformance">
    <xs:annotation>
      <xs:documentation>todo</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Conformance">
    <xs:sequence>
      <xs:element name="date" minOccurs="1" maxOccurs="1" type="dateTime">
        <xs:annotation>
          <xs:documentation>Date that the conformance statement is published</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" type="Conformance.Publisher" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The organization that publishes this conformance statement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="implementation" type="Conformance.Implementation" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Describes the implementation that is covered by this conformance statement.  Used when the profile describes the capabilities of a specific implementation instance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="software" type="Conformance.Software" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Describes the software that is covered by this conformance statement.  Used when the profile describes the capabilities of a particular software version, independent of an installation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="proposal" type="Conformance.Proposal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Describes the proposed solution described by this conformance statement.  Used when the profile describes a desired rather than an actual solution, for example as a formal expression of requirements as part of an RFP.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" minOccurs="1" maxOccurs="1" type="id">
        <xs:annotation>
          <xs:documentation>The version of the FHIR specification on which this conformance profile is based</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="acceptUnknown" minOccurs="1" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>Whether the application accepts unknown non-&quot;must understand&quot; elements as part of a resource. This does not include extensions, but genuine new additions to a resource</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rest" type="Conformance.Rest" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Defines the restful capabilities of the solution, if any</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messaging" type="Conformance.Messaging" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Describes the messaging capabilities of the solution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="document" type="Conformance.Document" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A document definition</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>See Extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="Narrative" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Text summary of resource (for human interpretation)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Document">
    <xs:sequence>
      <xs:element name="mode" minOccurs="1" maxOccurs="1" type="DocumentMode">
        <xs:annotation>
          <xs:documentation>The mode of this event declaration - whether application is sender or receiver</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Describes how the application supports or uses the specified document profile.  For example, when are documents created, what action is taken with consumed documents, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="profile" minOccurs="1" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Constraint on a resource used in the document</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Software">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Name software is known by</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Version covered by this statement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="releaseDate" minOccurs="0" maxOccurs="1" type="dateTime">
        <xs:annotation>
          <xs:documentation>Date this version of the software released</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Publisher">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Name of Organization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address" minOccurs="0" maxOccurs="1" type="Address">
        <xs:annotation>
          <xs:documentation>Address of Organization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contact" minOccurs="0" maxOccurs="unbounded" type="Contact">
        <xs:annotation>
          <xs:documentation>Contacts for Organization relevant to this conformance statement.  May be website, email, phone numbers, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Proposal">
    <xs:sequence>
      <xs:element name="description" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Provides details about the intention and scope of the proposal</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Implementation">
    <xs:sequence>
      <xs:element name="description" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Information about the specific implementation </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>The base URL for the implementation.  This forms the base for REST interfaces as well as the mailbox and document interfaces.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Rest">
    <xs:sequence>
      <xs:element name="mode" minOccurs="1" maxOccurs="1" type="RestfulConformanceMode">
        <xs:annotation>
          <xs:documentation>Identifies whether this portion of the statement is describing ability to initiate or receive restful operations</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Provides documentation about the system's restful capabilities that apply across all applications, such as security</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resource" type="Conformance.Resource" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifies the restful capabilities of the solution for a specific resource type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Resource">
    <xs:sequence>
      <xs:element name="type" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>Identifies the resource exposed via the restful interface</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="profile" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Identifies the profile that describes the solution's support for the resource, including any constraints on cardinality, bindings, lengths or other limitations</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operation" type="Conformance.Operation" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifies a restful operation supported by the solution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="history" minOccurs="0" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>A flag for whether the server is able to return past versions as part of the vRead operation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="search" type="Conformance.Search" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>If present, indicates that search operations are supported on the resource and describes the search capabilities.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Operation">
    <xs:sequence>
      <xs:element name="code" minOccurs="1" maxOccurs="1" type="RestfulOperation">
        <xs:annotation>
          <xs:documentation>Identifies which operation is supported</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Provides guidance specific to the implementation of this operation, such as 'delete is a logical delete' or 'updates are only allowed with version id' or 'creates permitted from pre-authorized certificates only'</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Messaging">
    <xs:sequence>
      <xs:element name="endpoint" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>The address to which messages and/or replies are to be sent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Provides documentation about the system's messaging capabilities for this endpoint not otherwise documented by the conformance statement.  For example, process for becoming an authorized messaging exchange partner.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="event" type="Conformance.Event" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Describes the solution's support for an event at this end point.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Event">
    <xs:sequence>
      <xs:element name="code" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>Identifies the supported messaging event</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mode" minOccurs="1" maxOccurs="1" type="ConformanceEventMode">
        <xs:annotation>
          <xs:documentation>The mode of this event declaration - whether application is sender or receiver</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="protocol" minOccurs="0" maxOccurs="unbounded" type="Coding">
        <xs:annotation>
          <xs:documentation>Identifies the messaging transport protocol(s) supported by this endpoint</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="focus" minOccurs="1" maxOccurs="1" type="code">
        <xs:annotation>
          <xs:documentation>Identifies the resource associated with the event.  This is the resource that defines the event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="request" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Information about the request for this event</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="response" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>Information about the response for this event</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Guidance on how this event is handled, such as internal system trigger points, business rules, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Search">
    <xs:sequence>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Provides solution-specific information on searching that isn't tied to a single parameter.  For example, security requirements for executing search, allowed combinations of parameters, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="param" type="Conformance.Param" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Identifies all of the search parameters supported, including standard ones as well as those specific to this solution.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Conformance.Param">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Corresponds to the name of the standard or custom search parameter</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="1" maxOccurs="1" type="SearchParamType">
        <xs:annotation>
          <xs:documentation>The type of value a search parameter refers to, and how the content is interpreted</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="repeats" minOccurs="1" maxOccurs="1" type="SearchRepeatBehavior">
        <xs:annotation>
          <xs:documentation>Whether multiple uses of the parameter are allowed in searches, and if they are, how the multiple values are understood.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>For standard parameters, provides additional information on how the parameter is used in this solution.  For custom parameters, provides a description of what the parameter does</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestfulOperation">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="read">
          <xs:annotation>
            <xs:documentation>Read the current state of the resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="vread">
          <xs:annotation>
            <xs:documentation>Read the state of a specific version of the resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="update">
          <xs:annotation>
            <xs:documentation>Update an existing resource by its id (or create it if it is new)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="delete">
          <xs:annotation>
            <xs:documentation>Delete a resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="history">
          <xs:annotation>
            <xs:documentation>Retrieve the update history for the resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="validate">
          <xs:annotation>
            <xs:documentation>Check that the content would be acceptable as an update</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="updates">
          <xs:annotation>
            <xs:documentation>Get a list of prior updates to resources of this type, optionally with some filter criteria</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="create">
          <xs:annotation>
            <xs:documentation>Create a new resource with a server assigned id</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DocumentMode">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="producer">
          <xs:annotation>
            <xs:documentation>The application produces documents of the specified type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="consumer">
          <xs:annotation>
            <xs:documentation>The application consumes documents of the specified type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RestfulConformanceMode">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="client">
          <xs:annotation>
            <xs:documentation>The application acts as a server for this resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="server">
          <xs:annotation>
            <xs:documentation>The application acts as a client for this resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SearchRepeatBehavior">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="single">
          <xs:annotation>
            <xs:documentation>the search parameter may only be used once</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="union">
          <xs:annotation>
            <xs:documentation>when the search parameter is used more than once, match resources with any of the values</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="intersection">
          <xs:annotation>
            <xs:documentation>when the search parameter is used more than once, match resources with all of the values</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConformanceEventMode">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="sender">
          <xs:annotation>
            <xs:documentation>The application sends requests and receives responses</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="receiver">
          <xs:annotation>
            <xs:documentation>The application receives requests and sends responses</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SearchParamType">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="integer">
          <xs:annotation>
            <xs:documentation>search parameter must be a simple whole number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="string">
          <xs:annotation>
            <xs:documentation>search parameter is a simple string, like a name part (search usually functions on partial matches)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="text">
          <xs:annotation>
            <xs:documentation>search parameter is into a long string (i.e. a text filter type search)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="date">
          <xs:annotation>
            <xs:documentation>search parameter is onto a date (and should support -before and -after variants). The date format is the standard XML format, thoughother formats may be supported</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="token">
          <xs:annotation>
            <xs:documentation>search parameter is on a fixed value string (i.e. search has an exact match)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="qtoken">
          <xs:annotation>
            <xs:documentation>search parameter is a pair of fixed value strings, namespace and value, separated by a &quot;#&quot;. The namespace is usually a uri, such as one of the defined code systems and is optional when searching</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
