ABBI/WebContent/WEB-INF/xsd/fhir/securityevent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © HL7 (http://hl7.org)
  Generated on Wed, Nov 14, 2012 09:38+1100 for FHIR v0.06 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.06">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="SecurityEvent" type="SecurityEvent">
    <xs:annotation>
      <xs:documentation>todo</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SecurityEvent">
    <xs:sequence>
      <xs:element name="event" type="SecurityEvent.Event" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>identifies the name, action type, time, and disposition of the audited event</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="participant" type="SecurityEvent.Participant" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>a person, or a hardware device or software process</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="SecurityEvent.Source" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>application systems and processes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="object" type="SecurityEvent.Object" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>specific instances of data or objects that have been accessed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>See Extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="Narrative" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Text summary of resource (for human interpretation)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityEvent.Object">
    <xs:sequence>
      <xs:element name="type" minOccurs="0" maxOccurs="1" type="SecurityEventObjectType">
        <xs:annotation>
          <xs:documentation>object type being audited</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" minOccurs="0" maxOccurs="1" type="SecurityEventObjectRole">
        <xs:annotation>
          <xs:documentation>Code representing the functional application role of Participant Object being audited</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lifecycle" minOccurs="0" maxOccurs="1" type="SecurityEventObjectLifecycle">
        <xs:annotation>
          <xs:documentation>Identifier for the data life-cycle stage for the participant object</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="idType" minOccurs="1" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>Describes the identifier that is contained in Participant Object ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Identifies a specific instance of the participant object</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sensitivity" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Denotes policy-defined sensitivity for the Participant Object ID such as VIP, HIV status, mental health status, or similar topics</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>An instance-specific descriptor of the Participant Object ID audited, such as a person's name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="query" minOccurs="0" maxOccurs="1" type="base64Binary">
        <xs:annotation>
          <xs:documentation>The actual query for a query-type participant object</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityEvent.Participant">
    <xs:sequence>
      <xs:element name="userId" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Unique identifier for the user actively participating in the event</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherUserId" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>User identifier text string from authentication system. This identifier would be one known to a common authentication system (e.g., single sign-on), if available</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>human-meaningful name for the user</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestor" minOccurs="1" maxOccurs="1" type="boolean">
        <xs:annotation>
          <xs:documentation>Indicator that the user is or is not the requestor, or initiator, for the event being audited.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" minOccurs="0" maxOccurs="unbounded" type="Coding">
        <xs:annotation>
          <xs:documentation>Specification of the role(s) the user plays when performing the event, as assigned in role-based access control security</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="network" type="SecurityEvent.Network" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>logical network location for application activity</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityEvent.Network">
    <xs:sequence>
      <xs:element name="type" minOccurs="0" maxOccurs="1" type="SecurityEventParticipantNetworkType">
        <xs:annotation>
          <xs:documentation>An identifier for the type of network access point that originated the audit event</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>An identifier for the network access point of the user device for the audit event</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityEvent.Event">
    <xs:sequence>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>Identifier for a specific audited event</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="action" minOccurs="0" maxOccurs="1" type="SecurityEventEventAction">
        <xs:annotation>
          <xs:documentation>Indicator for type of action performed during the event that generated the audit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" minOccurs="1" maxOccurs="1" type="instant">
        <xs:annotation>
          <xs:documentation>The time when the event occurred on the source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="outcome" minOccurs="1" maxOccurs="1" type="SecurityEventEventOutcome">
        <xs:annotation>
          <xs:documentation>Indicates whether the event succeeded or failed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" minOccurs="0" maxOccurs="unbounded" type="Coding">
        <xs:annotation>
          <xs:documentation>Identifier for the category of event</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityEvent.Source">
    <xs:sequence>
      <xs:element name="site" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Logical source location within the healthcare enterprise network</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Identifier of the source where the event originated</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" maxOccurs="unbounded" type="Coding">
        <xs:annotation>
          <xs:documentation>Code specifying the type of source where event originated</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityEventObjectRole">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="1">
          <xs:annotation>
            <xs:documentation>Patient</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="2">
          <xs:annotation>
            <xs:documentation>Location</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="3">
          <xs:annotation>
            <xs:documentation>Report</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="4">
          <xs:annotation>
            <xs:documentation>Resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="5">
          <xs:annotation>
            <xs:documentation>Master file</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="6">
          <xs:annotation>
            <xs:documentation>User</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="7">
          <xs:annotation>
            <xs:documentation>List</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="8">
          <xs:annotation>
            <xs:documentation>Doctor</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="9">
          <xs:annotation>
            <xs:documentation>Subscriber</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="10">
          <xs:annotation>
            <xs:documentation>Guarantor</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="11">
          <xs:annotation>
            <xs:documentation>Security User Entity</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="12">
          <xs:annotation>
            <xs:documentation>Security User Group</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="13">
          <xs:annotation>
            <xs:documentation>Security Resource</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="14">
          <xs:annotation>
            <xs:documentation>Security Granularity Definition</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="15">
          <xs:annotation>
            <xs:documentation>Provider</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="16">
          <xs:annotation>
            <xs:documentation>Data Destination</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="17">
          <xs:annotation>
            <xs:documentation>Data Repository</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="18">
          <xs:annotation>
            <xs:documentation>Schedule</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="19">
          <xs:annotation>
            <xs:documentation>Customer</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="20">
          <xs:annotation>
            <xs:documentation>Job</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="21">
          <xs:annotation>
            <xs:documentation>Job Stream</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="22">
          <xs:annotation>
            <xs:documentation>Table</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="23">
          <xs:annotation>
            <xs:documentation>Routing Criteria</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="24">
          <xs:annotation>
            <xs:documentation>Query</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SecurityEventObjectType">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="1">
          <xs:annotation>
            <xs:documentation>Person</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="2">
          <xs:annotation>
            <xs:documentation>System Object</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="3">
          <xs:annotation>
            <xs:documentation>Organization</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="4">
          <xs:annotation>
            <xs:documentation>Other</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SecurityEventObjectLifecycle">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="1">
          <xs:annotation>
            <xs:documentation>Origination / Creation</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="2">
          <xs:annotation>
            <xs:documentation>Import / Copy from original</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="3">
          <xs:annotation>
            <xs:documentation>Amendment</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="4">
          <xs:annotation>
            <xs:documentation>Verification</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="5">
          <xs:annotation>
            <xs:documentation>Translation</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="6">
          <xs:annotation>
            <xs:documentation>Access / Use</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="7">
          <xs:annotation>
            <xs:documentation>De-identification</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="8">
          <xs:annotation>
            <xs:documentation>Aggregation, summarization, derivation</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="9">
          <xs:annotation>
            <xs:documentation>Report</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="10">
          <xs:annotation>
            <xs:documentation>Export / Copy to target</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="11">
          <xs:annotation>
            <xs:documentation>Disclosure</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="12">
          <xs:annotation>
            <xs:documentation>Receipt of disclosure</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="13">
          <xs:annotation>
            <xs:documentation>Archiving</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="14">
          <xs:annotation>
            <xs:documentation>Logical deletion</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="15">
          <xs:annotation>
            <xs:documentation>Permanent erasure / Physical destruction</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SecurityEventEventOutcome">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="0">
          <xs:annotation>
            <xs:documentation>Success</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="4">
          <xs:annotation>
            <xs:documentation>Minor failure</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="8">
          <xs:annotation>
            <xs:documentation>Serious failure</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="12">
          <xs:annotation>
            <xs:documentation>Major failure</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SecurityEventParticipantNetworkType">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="name">
          <xs:annotation>
            <xs:documentation>Machine Name, including DNS name</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="ip">
          <xs:annotation>
            <xs:documentation>IP Address</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="phone">
          <xs:annotation>
            <xs:documentation>Telephone Number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SecurityEventEventAction">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="C">
          <xs:annotation>
            <xs:documentation>Create</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="R">
          <xs:annotation>
            <xs:documentation>Read/View/Print/Query</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="U">
          <xs:annotation>
            <xs:documentation>Update</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="D">
          <xs:annotation>
            <xs:documentation>Delete</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="E">
          <xs:annotation>
            <xs:documentation>Execute</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
