ABBI/WebContent/WEB-INF/xsd/fhir/xdsentry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © HL7 (http://hl7.org)
  Generated on Wed, Nov 14, 2012 09:38+1100 for FHIR v0.06 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.06">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="XdsEntry" type="XdsEntry">
    <xs:annotation>
      <xs:documentation>todo</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="XdsEntry">
    <xs:sequence>
      <xs:element name="url" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>A URL that is used to access the document content directly. If this is not provided, the document may be found be searching the repositoryId for the documentId</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="repositoryId" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>The globally unique identifier of the repository where the document is stored, assigned by the Document Repository. This unique identifier for the Document Repository may be used to identify and connect to the specific Document Repository where the document is stored once its metadata has been retrieved from a Document Registry</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mimeType" minOccurs="1" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>MIME type of the document in the Repository.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="format" minOccurs="1" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>Code globally uniquely specifying the format of the document. Along with the typeCode, it should provide sufficient information to allow any potential XDS Document Consumer to know if it will be able to process the document. The formatCode shall be sufficiently specific to ensure processing/display by identifying a document encoding, structure and template (e.g., for a CDA Document, the fact that it complies with a CDA schema, possibly a template and the choice of a content-specific style sheet).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="class" minOccurs="1" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>The code specifying the particular kind of document (e.g., Prescription, Discharge Summary, Report). It is suggested that the XDS Affinity Domain draws these values from a coding scheme providing a coarse level of granularity (about 10 to 100 entries). Shall have a single value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="1" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>The code specifying the precise kind of document (e.g., Pulmonary History and Physical, Discharge Summary, Ultrasound Report).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Represents the title of the document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="documentId" minOccurs="1" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>The globally unique identifier assigned by the document creator to this document. This unique identifier may be used in the body of other XDS Documents to reference this document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="availability" minOccurs="1" maxOccurs="1" type="XdsEntryAvailability">
        <xs:annotation>
          <xs:documentation>deprecated documents can be included in some responses</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="confidentialityCode" minOccurs="1" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>The code specifying the level of confidentiality of the XDS Document. These codes are specific to an XDS Affinity Domain.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="created" minOccurs="1" maxOccurs="1" type="instant">
        <xs:annotation>
          <xs:documentation>Represents the time the author created the document in the Document Source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="event" minOccurs="0" maxOccurs="unbounded" type="Coding">
        <xs:annotation>
          <xs:documentation>This list of codes represents the main clinical acts, such as a colonoscopy or an appendectomy, being documented. In some cases, the event is inherent in the typeCode, such as a &quot;History and Physical Report&quot; in which the procedure being documented is necessarily a &quot;History and Physical&quot; act.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hash" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Hash key of the XDS Document itself</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="size" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Size in bytes of the byte stream that was provided in the Register and Provide Transaction and stored by the XDS Document Repository. This value is computed by the Document Repository and included in the Register Documents Set Transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Specifies the human language of character data in the document. The values of the attribute are language identifiers as described by the IETF (Internet Engineering Task Force) RFC 3066.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="folder" minOccurs="0" maxOccurs="unbounded" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>Folders that this document is registered in</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="patientId" minOccurs="1" maxOccurs="1" type="Identifier">
        <xs:annotation>
          <xs:documentation>The patientId represents the subject of care of the document. This identifier shall be from the Assigning Authority Domain supporting the XDS Affinity Domain in which the Document Registry operates.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourcePatientId" minOccurs="0" maxOccurs="1" type="Identifier">
        <xs:annotation>
          <xs:documentation>The sourcePatientId represents the subject of care medical record Identifier (e.g., Patient Id) in the local patient Identifier Domain of the Document Source.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="patientInfo" minOccurs="0" maxOccurs="1" type="ResourceReference">
        <xs:annotation>
          <xs:documentation>This is a reference to the demographics information of the person to whose medical record this document belongs, as the Document Source knew it at the time of Submission. This information typically includes: the patient first and last name, sex, 
and birth date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="author" type="XdsEntry.Author" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Represents the humans and/or machines that authored the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="authenticator" type="XdsEntry.Authenticator" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Represents a participant who has legally authenticated or attested the document within the authorInstitution. Legal authentication implies that a document has been signed manually or electronically by the legalAuthenticator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="facilityType" minOccurs="0" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>This code represents the type of organizational setting of the clinical encounter during which the documented act occurred</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="practiceSetting" minOccurs="1" maxOccurs="1" type="Coding">
        <xs:annotation>
          <xs:documentation>The code specifying the clinical specialty where the act that resulted in the document was performed (e.g., Family Practice, Laboratory, Radiology).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="homeCommunity" minOccurs="0" maxOccurs="1" type="uri">
        <xs:annotation>
          <xs:documentation>A globally unique identifier for a community. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="service" type="XdsEntry.Service" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Represents the time of the service being documented took place (clinically significant, but not necessarily when the document was produced or approved).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="comments" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>Comments associated with the Document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>See Extensions</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="text" type="Narrative" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Text summary of resource (for human interpretation)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XdsEntry.Service">
    <xs:sequence>
      <xs:element name="start" minOccurs="1" maxOccurs="1" type="dateTime">
        <xs:annotation>
          <xs:documentation>Start time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stop" minOccurs="0" maxOccurs="1" type="dateTime">
        <xs:annotation>
          <xs:documentation>Stop time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XdsEntry.Authenticator">
    <xs:sequence>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="Identifier">
        <xs:annotation>
          <xs:documentation>id of authenticator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="HumanName">
        <xs:annotation>
          <xs:documentation>name of authenticator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XdsEntry.Author">
    <xs:sequence>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="HumanName">
        <xs:annotation>
          <xs:documentation>Represents the name of the human and/or machine that authored the document  within the authorInstitution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="Identifier">
        <xs:annotation>
          <xs:documentation>Represents the id of the human and/or machine that authored the document  within the authorInstitution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" minOccurs="0" maxOccurs="unbounded" type="string">
        <xs:annotation>
          <xs:documentation>A code that represents the role of the author with respect to the patient when the document was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specialty" minOccurs="0" maxOccurs="unbounded" type="string">
        <xs:annotation>
          <xs:documentation>Represents a specific specialty within a healthcare facility under which the human and/or machines authored the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="institution" type="XdsEntry.Institution" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Represents a specific healthcare facility under which the human and/or machines authored the document.  A specific case is that of homecare. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contact" minOccurs="0" maxOccurs="unbounded" type="Contact">
        <xs:annotation>
          <xs:documentation>Represents the telecommunications address (e.g. email) of the document author, intended to assist with automated routing of other messages intended for the document author</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XdsEntry.Institution">
    <xs:sequence>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="Identifier">
        <xs:annotation>
          <xs:documentation>id of facility</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
        <xs:annotation>
          <xs:documentation>name of facility</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XdsEntryAvailability">
    <xs:simpleContent>
      <xs:restriction base="code">
        <xs:enumeration value="Approved">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Deprecated">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
